.about {
  color: #000;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 125px;
}

.about_title {
  font-size: 30px;
  font-weight: bold;
}

.about_text {
  font-size: 15px;
  margin-bottom: 110px;
  color: #737373;
}

.about_h3 {
  font-family: 'Open-Sans-Semibold', sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
}