.logo {
  font-size: 30px;
  font-family: 'Open-Sans-Semibold', 'sans-serif';
}

.menu-bar {
  color: #212121;
  padding: 20px 0;
}

.menu__item {
  margin-left: 37px;
  a {
    font-family: 'Open-Sans-Semibold', sans-serif;
    font-size: 20px;
    color: #212121;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      color: #00897b;
    }
  }
  i {
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: #00897b;
    }
  }
}

.header > div {
  color: #fff;
  background-image: url(../img/header.png);
  padding: 180px 0;
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 100%;
}

.header__title {
  font-size: 55px;
  font-family: 'Open-Sans-Semibold', sans-serif;
}

.header__text {
  font-size: 20px;
  margin-bottom: 100px;
}