.services {
  color: #000;
  text-align: center;
  padding-top: 165px;
  padding-bottom: 125px;
  background: #e4fdf9;
}

.our_card {
  background-color: #fff;
  padding: 50px 25px 40px;
  transition: all .3s;
  &:hover {
    background-color: #00897b;
    color: #fff;
  }
}

.icon {
  font-size: 60px;
  color: #000;
}

.button-services {
  text-transform: uppercase;
  border: 1px solid #000;
  background: transparent;
  padding: 12px 12px 12px;
  font-family: 'Open-Sans-Semibold', sans-serif;
}