@font-face {
  font-family: 'Open-Sans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'Open-Sans-Light';
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open-Sans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open-Sans-Semibold';
  src: url("../fonts/OpenSans-Semibold.ttf");
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.logo {
  font-size: 30px;
  font-family: 'Open-Sans-Semibold', 'sans-serif';
}

.menu-bar {
  color: #212121;
  padding: 20px 0;
}

.menu__item {
  margin-left: 37px;
}

.menu__item a {
  font-family: 'Open-Sans-Semibold', 'sans-serif';
  font-size: 20px;
  color: #212121;
  text-decoration: none;
  transition: all 0.3s;
}

.menu__item a:hover {
  color: #00897b;
}

.menu__item i {
  transition: all 0.3s;
  cursor: pointer;
}

.menu__item i:hover {
  color: #00897b;
}
